<%
  var allTags = site.tags.toArray().sort(function(a, b) {
    return b.posts.length - a.posts.length;
  });
  var maxCount = allTags.length > 0 ? allTags[0].posts.length : 1;
%>

<div class="note-header">
  <h1 class="note-title page-title">
    <%- partial('_partial/icon', {name: 'tags', size: 22}) %>
    Tags
    <span class="page-title-count"><%= allTags.length %></span>
  </h1>
</div>

<div class="tags-page-cloud">
  <% allTags.forEach(function(tag) { %>
  <%
    var weight = tag.posts.length / maxCount;
    var size = (0.8 + weight * 0.7).toFixed(2);
    var opacity = (0.55 + weight * 0.45).toFixed(2);
  %>
  <a href="<%- url_for(tag.path) %>"
     class="tag-pill tag-pill-weighted"
     style="font-size: <%= size %>em; opacity: <%= opacity %>;"
     title="<%= tag.posts.length %> note<%= tag.posts.length !== 1 ? 's' : '' %>">
    #<%= tag.name %>
    <span class="tag-count"><%= tag.posts.length %></span>
  </a>
  <% }) %>
</div>
